{{- if include "newrelic.common.serviceAccount.create" . }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "nr-ebpf-agent.collector.name" . }}
  labels:
    {{- include "newrelic.common.labels" . | nindent 4 }}
  {{- $globalAnnotations := dict -}}
  {{- if .Values.global -}}
    {{- if .Values.global.serviceAccount -}}
      {{- if .Values.global.serviceAccount.annotations -}}
        {{- $globalAnnotations = .Values.global.serviceAccount.annotations -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $localAnnotations := .Values.otelCollector.collector.serviceAccount.annotations | default dict -}}
  {{- $mergedAnnotations := mustMergeOverwrite $globalAnnotations $localAnnotations -}}
  {{- if $mergedAnnotations }}
  annotations:
    {{- toYaml $mergedAnnotations | nindent 4 }}
  {{- end }}
{{- end }}